/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 juin 2018, 15:24:22
    Author     : emman
*/



body {
    background-color: #f7f7f7 !important;
}

.row {
    
}


header {
    

    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 0 30px rgba(0,0,0,.12);
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,.12);
    -moz-box-shadow: 0 0 30px rgba(0,0,0,.12);
    
}

header h1 {
    
    color:#414f57 !important;
    font-size:1rem;
    padding:0.2rem 0;
    
}

.btn-block {
    margin: 1rem 0;
}

.logout{
    color:#fff !important;
}

.modal-dialog {
    max-width: 100% !important;
} 

footer {
    background: #4E76CC;
    color:#fff;
    padding: 2rem 0;
}
.mention {
    text-align:center;
    font-size:0.8rem;
}

.body-content {
    
   
}

.fc-day {
    transition:all ease-in-out 0.2s;
}
.fc-day:hover {
    cursor:pointer;
    background: #e8e8e8;
}


header h1{
    
}

h2 {
    padding:1rem 0;
    color: #4E76CC !important;
    font-size:2rem !important;
}

h2{
   color: #4E76CC !important; 
}

.fa-sign-out-alt {
    padding-right:0.2rem;    
}

.logout {
    font-size:0.8rem;
    color:#414f57 !important;
} 



.modal-body {
    overflow:scroll !important;
}

.body-content {
    min-height:30rem;
}

 
.table td {
   padding: 0.3rem !important; 
}
 
#bg-login {
    background: url('../img/bg-login.jpg') no-repeat;
    background-size:cover;
    min-height:800px;
    background-position: 0 -4rem;
        padding: 15rem;
}

.btn btn-lg.btn-block {
    background:#4E76CC;
}

.btn btn-lg.btn-block:hover {
    background:#2a5dcc;
}

.login-box {
    background: rgba(255,255,255,0.8);
    padding: 3rem;
} 

.login-box .btn.btn-lg.btn-block {
     background:#4E76CC;
     color:#ffffff !important;
}
.login-box .btn.btn-lg.btn-block:hover {
    background:#2a5dcc;
} 